
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Quattrocento);

/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

li {
/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden;
}
/******************** KONIEC RESETU  ******************************************/

/***********************************
*=Basic Setup
***********************************/
/* border-box FTW !*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* TODO sprawidzć to dokladniej czy dziala dobrze*/
html { 
  background: #eaeaea;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* ClearFix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  zoom: 1;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}
#header h1 a {
  font-size: 60px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}
#header h1 a:hover {
  color: #3fa757;
}
#header h2 {
  text-align: center;
  font-size: 40px;
}
/* titles */
h2 {
  text-align: center;
}
h2 a{
  text-decoration: none;
  color: black;
  font-size: 35px;
}
h2 a:hover {
  color: #3fa757;
}

/************************
**Menu
************************/

#nav {
  font-size: 25px;
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#nav ul {
  clear: left;
  float: left;
  position: relative;
  left: 50%;
  text-align: center;
}
#nav ul li {
  display: block;
  float: left;
  position: relative;
  right: 50%;
}
#nav ul .separator{ 
  color: #3fa757;
}

#nav ul li a {
  display: block;
  margin: 0 0 0 1px;
  padding: 3px 20px;
  text-decoration: none;
  color: black;
}
#nav ul li a:hover{
  color: #3fa757;
}


/************************
**Gallery
************************/
#gallery {
  padding: 0 40px;
}
#gallery h2 {
  margin: 30px 0 10px 0;
}
#gallery ul li {
  float: left;
  padding: 10px;
  margin: 0 22px 22px 0;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  border-radius: 5px;;
}
#gallery ul li:hover {
  border: 1px solid #3fa757;
  -webkit-border-radius: 5px;
  border-radius: 5px;;
}

/************************
**Contact
************************/
#contact{
  margin: 30px 0 0 0;
  font-size: 20px;
}
#contact h2 {

}
#contact h3 {
  font-size: 30px;
  text-align: center;
}
#info {
  margin-left: 143px;
}
.contactInfo {
  float: left;
  margin-right: 70px;
}
.contactInfo img {
  position: relative;
  top: 24px;
  left: -24px;
}
/************************
**Footer
************************/
#footer{ 
  margin-top: 20px;
  color: #b8b8b8;
  text-align: center;
}







/*
TODO:
- dodac tytul przy obrazkach i linki do stron
-dodac element ktory pozwala wrócic do portfolio!
- na mobilne dostosowac ! 
-znalesc lepsze ikony
/*